@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 37, 37, 37;
  --background-start-rgb: 151,187,183;
  --background-end-rgb: 255,244,207;
}
body {

  color: rgba(var(--foreground-rgb));
  background: linear-gradient(154deg, rgba(var(--background-start-rgb),0.5) 0%, rgba(var(--background-end-rgb),0.5) 100%), url(../public/background.png) no-repeat;
  background-size: cover;
  background-position: center;
}
